@import "~react-image-gallery/styles/css/image-gallery.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.image-gallery {
  width: 380px;
}
.LeftSideListMenu::-webkit-scrollbar{
  display: none;
}
.LeftSideListMenu{
  z-index: 1;
  position: absolute;
  background-color: #f0f0f0;
  height: 100%;
}

.demo-loading-container {
  bottom: 40px;
  width: 100%;
  text-align: center;
}